:root { 
--gray_400:#bbbbbb; 
--gray_500:#a1a1a1; 
--gray_401:#c4c4c4; 
--deep_purple_800:#2719c7; 
--gray_500_7e:#9898987e; 
--gray_900:#151515; 
--deep_purple_500:#7138b8; 
--bluegray_100:#d7d7d7; 
--black_900_3f:#0000003f; 
--gray_300:#e5e5e5; 
--bluegray_900:#333333; 
--pink_A100:#fd749b; 
--black_900:#000000; 
--bluegray_400:#888888; 
--black_901:#15070b; 
--black_900_19:#00000019; 
--pink_300:#e469a0; 
--white_A700:#ffffff; 
--pink_400:#f04878; 
}